<!-- templates/tool.html-->
{% extends 'base.html' %}
{% block title %}Tool{% endblock %}
{% block content %}
  <div class="bg"></div>
  <div class="bg bg2"></div>
  <div class="bg bg3"></div>
    <br>
    <br>
    <br>
    <div class="content">
      <form method=post>
    {% csrf_token %}
    <h3>{{ test }}</h3>
    <br>
   <div style="text-align: left">
    <b>{{ form.date_added.label_tag }}</b>
    {{ form.date_added }}<br>
    <b>{{ form.applied.label_tag }}</b>
    {{ form.applied }}<br>
    <b>{{ form.date_applied.label_tag }}</b>
    {{ form.date_applied }}<br>
    <b>{{ form.banned.label_tag }}</b>
    {{ form.banned }}<br>
    <b>{{ form.banned_date.label_tag }}</b>
    {{ form.banned_date }}<br>
    <b>{{ form.required_activation.label_tag }}</b>
    {{ form.required_activation }}<br>
    <b>{{ form.currently_used.label_tag }}</b>
    {{ form.currently_used }}<br>
   <div style="text-align: right">
    <input type="submit" name="submit"value="Submit"></input> 
    </form>
    </div>
{% endblock %}
