<!-- templates/change_password.html -->
{% extends 'base.html' %}
{% block title %}Change Password{% endblock %}
{% block content %}
<br>
<br>
<br>
<div class="login-container text-c animated flipInX">
  <h1 class="text-whitesmoke">Change Password</h1>
  <br>
  <div class="container-content">
    <form class="margin-t" method="post">
      {% csrf_token %}
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Current Password" required="" {{ form.old_password }}
        {% for error in form.old_password.errors %}
          <div style="font-size: small">
            <p style="color: red">{{ error }}</p>
          </div>
        {% endfor %}
      </div>
      <div class="form-group">
        {{ form.new_password1 }}
      </div>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Confirm Password" required="" {{ form.new_password2 }}
        {% for error in form.new_password1.errors %}
          <div style="font-size: small">
            <p style="color: red">{{ error }}</p>
          </div>
        {% endfor %}
      </div>
        <button type="submit" class="form-button button-l margin-b">Submit</button>
      </div>
    </form>
  </div>
</div>
{% block js %}
  {{ block.super }}
  {{ form.media }}
{% endblock %}
{% endblock %}
